@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "leaflet/dist/leaflet.css";

:root {
  --primary_color: #ff1457;
  --body_bg_color: #2b2c30;
  --input_bg: #35313b;
  --locate_btn_bg: #613c4c;
  --localization_container_bg: #35313b;
  --white: #ffffff;
  --containers_bg_color: #453745;

  --container_border_radius: 40px;
  --container_padding: 2rem;

  --title_font_family: "Mulish", sans-serif;
  --body_font_family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body_font_family);
}

body {
  min-height: 100vh;
  background-color: var(--body_bg_color);
  padding: 2rem;
}

h1 {
  font-family: var(--title_font_family);
  font-size: clamp(3rem, 5vw + 2rem, 6rem);
  color: var(--primary_color);
}

main {
  margin-top: 5rem;
  height: 38rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main_infos {
  width: 60rem;
  flex: 1 1;
  background-color: var(--containers_bg_color);
  border-radius: var(--container_border_radius);
  padding: var(--container_padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_infos .local_infos {
  padding: 1rem;
  background-color: var(--localization_container_bg);
  width: 100%;
  height: fit-content !important;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.main_infos .local_infos h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}

.main_infos .local_infos h2 svg {
  color: var(--primary_color);
}

.secondary_infos {
  width: max(55rem, 100vw);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.search_container {
  height: calc(20% - .5rem);
  min-height: fit-content;
  background-color: var(--containers_bg_color);
  border-radius: var(--container_border_radius);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.search_container input,
.search_container button {
  padding: 1rem 2rem;
}

.search_container input {
  border-radius: var(--container_border_radius);
  outline: none;
  border: none;
  color: var(--primary_color);
  background-color: var(--input_bg);
  font-size: 1rem;
  flex: 1;
}

.search_container button {
  border-radius: var(--container_border_radius);
  border: none;
  background-color: var(--locate_btn_bg);
  color: var(--primary_color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.4s;
  flex: 1 1;
}

.search_container input::placeholder {
  color: var(--primary_color);
}

.search_container button:hover {
  background-color: var(--primary_color);
  color: var(--localization_container_bg);
}

.security_infos {
  height: calc(80% - 0.5rem);
  background-color: var(--containers_bg_color);
  border-radius: var(--container_border_radius);
  padding: var(--container_padding);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
}

@media screen and (max-width: 992px) {
  body {
    padding: 0 !important;
  }

  h1 {
    text-align: center;
  }
}
